---
const pageTitle = "About Me";

const identity = {
	firstName: "Jamie",
	country: "United States",
	occupation: "Government UX designer",
	hobbies: ["composing", "singing", "video games", "reading"]
}; 

const skills = ["HTML", "CSS", "information architecture", "content strucutre", "content design", "accessibility"]

const happy = true;
const finished = false;
const goal = 3;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>

		<h1>{pageTitle}</h1>
		<p>I'm learning how Astro works!</p>
		<p>I'm new to Astro so I'm trying things out. Check back later for more updates!</p>
		<p>Here are a few facts about me:</p>
			<ul>
				<li>My name is {identity.firstName}</li>
				<li>I live in the {identity.country} and I work as a {identity.occupation}.</li>
				<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
			</ul>
		
			<p>My skills are:
				<ul>
					{
					skills.map(
						(skill) => <li>{skill}</li>
						)
					}
				</ul>

<h2>Playing with Javascript</h2>
<p>Look at the code to see what I did</p>
			{happy && <p>Happy!</p>}
			{finished && <p>Finished!</p>}
			{goal === 3 ? <p>My goal is 3</p> : <p>My goal is not 3</p>}

				</body>
</html>
